# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py
aiohttp
aiosignal
ansi2html
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
ax-platform
backcall
beautifulsoup4
blas
bleach
botorch
brotli
ca-certificates
cachetools
certifi
cffi
cftime
charset-normalizer
click
cmdstanpy
convertdate
cycler
cython
darts
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
deprecated
entrypoints
ephem
executing
fastjsonschema
fbprophet
flask
flask-compress
fonttools
frozenlist
fsspec
google-auth
google-auth-oauthlib
gpytorch
grpcio
hijri-converter
holidays
idna
importlib-metadata
iniconfig
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
jupyterlab-pygments
jupyterlab-widgets
kats
keras
kiwisolver
korean-lunar-calendar
libcxx
libffi
libgfortran
lightgbm
llvm-openmp
llvmlite
lunarcalendar
markdown
markupsafe
matplotlib
matplotlib-inline
mistune
mkl
mkl-service
mkl_fft
mkl_random
multidict
multipledispatch
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
netcdf4
nfoursid
notebook
numba
numpy
numpy-base
oauthlib
openssl
packaging
pandas
pandocfilters
parameterized
parso
patsy
pexpect
pickleshare
pillow
pip
plotly
pluggy
pmdarima
prometheus-client
prompt-toolkit
prophet
protobuf
psutil
ptyprocess
pure-eval
py
pyasn1
pyasn1-modules
pycparser
pydeprecate
pygments
pymannkendall
pymeeus
pyparsing
pyrsistent
pystan
pytest
pytest-mpl
python
python-dateutil
pytorch-lightning
pytz
pyyaml
pyzmq
qtconsole
qtpy
readline
requests
requests-oauthlib
retrying
rsa
scikit-learn
scipy
seaborn
send2trash
setuptools
setuptools-git
six
soupsieve
sqlite
stack-data
statsforecast
statsmodels
tbats
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
testpath
threadpoolctl
tk
tomli
torch
torchmetrics
tornado
tqdm
traitlets
typeguard
typing-extensions
tzdata
ujson
urllib3
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
wrapt
xarray
xz
yarl
zipp
zlib
