# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
darts
dash
dash-core-components
dash-html-components
dash-table
flask
flask-compress
ipykernel
ipython
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
keras
matplotlib
matplotlib-inline
nbconvert
netcdf4
numpy
pandas
pandocfilters
pip
plotly
pytorch-lightning
scikit-learn
scipy
seaborn
statsmodels
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
torch
torchmetrics
xarray